/**********************************************
**** * * * * CUSTOM CSS
************************************************/

:root {
    --pdf-bg-dark: rgb(31, 41, 55) !important;
    --pdf-text-primary: #e5e7eb !important;
    --pdf-text-dark: #333 !important;

    --table-primary:#ffffff !important;
    --table-secondary:rgba(255, 255, 255, 0.5) !important;
    --table-text:rgb(0, 0, 0) !important;

    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
        "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.15),
        rgba(255, 255, 255, 0)
    );
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

*,
::before,
::after {
  border-width: 0;
  border-style: solid;
  border-color: theme('borderColor.DEFAULT', currentColor);
}

body {
    background: white;
    font-family: "Nunito", "Mulish", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
img,
span,
input,
form,
label,
.btn,
.navbar,
.navbar-brand {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:hover {
    text-decoration: none;
    color: #333;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

/*
* @des Esto son prefijos de estilo Tailwind
* @see https://tailwindcss.com/docs/preflight
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul,
li {
    list-style-type: none;
}


ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/**********************************************
**** * * * * SELECT EVENT CSS
************************************************/

/*
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
a::selection,
ol::selection,
ul::selection,
li::selection,
img::selection,
span::selection,
input::selection,
form::selection,
label::selection,
.btn::selection,
.navbar::selection,
.navbar-brand::selection {

}
*/

/**********************************************
**** * * * * HEADER MAIN CSS
************************************************/

.main_header {
    background: var(--pdf-bg-dark);
    padding: 5px 80px;
    top: 0;
    width: 100%;
    text-align: left;
    z-index: -999;
}

.main_header h4 {
    color: #fff;
    padding: 10px;
}

.main_header img {
    float: left;
    height: 60px;
    border-radius: 50%;
}

/**********************************************
**** * * * * DataTable CSS
************************************************/

.datatable-css {
    background: #fff;
    padding: 15px;
    box-shadow: 1px 3px 5px #aaa;
    border-radius: 5px;
}

.datatable-css .btn {
    padding: 5px 10px;
    margin: 10px 3px 10px 0;
}

table#crudTable {
    border: 1px solid var(--pdf-text-primary) ;
}

table#crudTable tr.datatable-thead-css th {
    background: var(--pdf-bg-dark) !important;
    color: #FFF;
    text-align: center;
}

table#crudTable tbody tr:nth-child(odd) td {
    background-color: var(--table-primary);
    color: var(--table-text);
    text-align: left;
}

table#crudTable tbody tr:nth-child(even) td {
    background-color: var(--table-secondary);
    color: var(--table-text);
    text-align: left;
}

table#crudTable tr.datatable-tfoot-css th {
    background-color: var(--pdf-bg-dark);
    color: #FFF;
    text-align: center;
    font-size: 0.7rem;
}

/**********************************************
**** * * * * NAVBAR CSS
************************************************/

.nav-link-icon-css {
    font-size: 1.2rem;
}

.nav-bar-aside-css {
    border-right: solid #e5e7eb 1px;
    /*width: 240px;*/
    background-color: white !important;
}

.nav-bar-aside-css  * {
    color: #4b5563;
    font-weight: 500;
}

.nav-bar-aside-css .nav-link:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

/**********************************************
**** * * * * FOOTER CSS
************************************************/

.footer-css {
    background-color: var(--pdf-bg-dark);
}

.footer-css * {
    color: #fff !important;
}

/**********************************************
**** * * * * TITLE MAIN CSS
************************************************/

.title-main-content-css {
    font-size: 1.5rem;
    line-height: 2rem;
    border-bottom: solid 2px #e5e7eb;
    color: rgb(100, 116, 139);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/**********************************************
**** * * * * CLASES CUSTOM CSS
************************************************/

.ptb-50 {
    padding: 50px 0px;
}

.mtb-15 {
    margin: 15px 0;
}

.text-1xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-slate-500 {
    color: rgb(100 116 139);

}

.font-bold {
    font-weight: 700;
}

.texto-titulo-css
{
    font-size: 1.7rem;
    font-weight: 700;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
  }
